doctype html
html(lang="en")
    head
        title= title
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(http-equiv="Content-Language" content="en")
        link(rel="stylesheet" href="/stylesheets/reset.css")
        link(rel="stylesheet" href="/stylesheets/styles.css")
        link(rel="icon" type="image/favicon" href="/images/favicon.ico?v=1.1")
    body
        header.site-header
            .header-content 
                h1
                    a(href="/")
                        img(src="images/colorwheel.png")
                        span.main-font Palette Pals
                if (!user) 
                    ul.sub-font 
                        li 
                            a(href="/log-in") Log In
                        li 
                            a(href="/sign-up") Sign Up
                else if (user && !user.member && !user.admin)
                        ul.sub-font 
                            li 
                                a(href="/create-message") Create a Message 
                            li 
                                a(href="/member") Become a Member
                            li 
                                a(href="/admin") Become an Admin
                            li 
                                a(href="/log-out") Log Out
                else if (user.member && user.admin)
                    ul.sub-font     
                        li 
                            a(href="/create-message") Create a Message 
                        li 
                            a(href="/log-out") Log Out
                else if (user.member)
                    ul.sub-font 
                        li 
                            a(href="/create-message") Create a Message 
                        li 
                            a(href="/admin") Become an Admin
                        li 
                            a(href="/log-out") Log Out
                else if (user.admin) 
                    ul.sub-font 
                        li 
                            a(href="/create-message") Create a Message 
                        li 
                            a(href="/member") Become a Member
                        li 
                            a(href="/log-out") Log Out
                    
        block content