extends layout 

block content
	main 
		form.basic-form(action="" method="POST") 
			h1.main-font Signup Form
			fieldset   
				legend.sub-font Username: 
				input(type="text" required autofocus name="username")
			fieldset 
				legend.sub-font Password: 
				input(type="password" required name="password")

			button.submit(type="submit") Log In 