extends layout 

block content
    main 
        form.basic-form(action="" method="POST") 
            h1.main-font Message Form
            fieldset   
                legend.sub-font Title: 
                input(type="text" required autofocus name="title")
            fieldset 
                legend.sub-font Message: 
                textarea(required name="message")
            button.submit(type="submit") Post
        if (errors) 
            section
                each err in errors 
                    li= err.msg
                