extends layout 

block content
	main 
		form.basic-form(action="" method="POST") 
			h1.main-font Signup Form
			fieldset   
				legend.sub-font Username: 
				input(type="text" required autofocus name="username")
			fieldset 
				legend.sub-font Password: 
				input(type="password" required name="password")
			fieldset 
				legend.sub-font Confirm Password: 
				input(type="password" required name="confirmation")

			legend.sub-font Select a Palette:
			fieldset.palette-container 

				input#lilac(type="radio" name="palette" value="lilac" required="true")
				label.palette.lilac(for="lilac")

				input#cyan(type="radio" name="palette" value="cyan" required="true")
				label.palette.cyan(for="cyan")

				input#plum(type="radio" name="palette" value="plum" required="true")
				label.palette.plum(for="plum")

				input#emerald(type="radio" name="palette" value="emerald" required="true")
				label.palette.emerald(for="emerald")

			button.submit(type="submit") Sign Up 
			span.sub-font Already have an Account? 
				a(href="/log-in") Log in